astroid
attrs
cycler
importlib-metadata
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
more-itertools
numpy
packaging
pluggy
py
pylint
pyparsing
pytest
pytest-json-report
pytest-metadata
python-dateutil
pytest-json-report
rope
six
toml
typed-ast
wcwidth
wheel
wrapt
zipp
